//Colors
$colorOne: #4A9DFD; // headings, inputs
$colorTwo: #214671;
$colorTri: #3776BD; // contact bg
$extra-color: black;


//Fonts
$a: 'Advent Pro', sans-serif;  // i am peter , headings
$b: 'Aleo', serif; // intro
$c: 'Open Sans Condensed', sans-serif; // anchors , reasons para, contacts